body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
  }

table{
    border : 3px solid #ff00ff ;
    font-family: Helvetica;
    font-size : 160%;
    color : navy;
    background-color :#e6f2ff;
}

h1{
    text-align: center;
    font-family: Helvetica;
    font-size : 35px;
}

p{ 
    text-align: center;
    font-family: Helvetica;
    font-size : 21px;
}

form{
    text-align: center;
    font-family: Helvetica;
    font-size : 21px;
}
